<div class="container">
    <img class="apex_pic" src="../../assets/images/home_pic.jpg" alt="">

    <h1 class="authDealer">Authorized Distributor</h1>
    <div class="container_moen">
        <img src="../../assets/images/moen.png" class="halfLogoLeft">
        <p class="textRight"> Family businesses have been a cornerstone of the global economy for centuries, exemplifying the enduring spirit of entrepreneurship, resilience, and commitment to success. These enterprises, often passed down through generations, blend blood ties with business acumen, creating a unique dynamic that shapes both their identity and operations.

            One of the key strengths of family businesses is their ability to weather economic storms. The strong bonds between family members foster a sense of responsibility and shared destiny, motivating them to overcome challenges. They prioritize long-term sustainability over quick profits, which contributes to their resilience.
            
            Moreover, family businesses often have a profound sense of legacy. They carry forward traditions, values, and a commitment to quality that are deeply rooted in their history. This legacy provides a solid foundation for future growth and innovation.
            
            Despite their advantages, family businesses can also face unique challenges, such as succession planning and managing conflicts. However, when managed effectively, these hurdles can become opportunities for growth and development. </p>
    </div>

    <div class="container_navien">
        <img src="../../assets/images/navien.png" class="halfLogoRight">
        <p class="textLeft"> Family businesses have been a cornerstone of the global economy for centuries, exemplifying the enduring spirit of entrepreneurship, resilience, and commitment to success. These enterprises, often passed down through generations, blend blood ties with business acumen, creating a unique dynamic that shapes both their identity and operations.

            One of the key strengths of family businesses is their ability to weather economic storms. The strong bonds between family members foster a sense of responsibility and shared destiny, motivating them to overcome challenges. They prioritize long-term sustainability over quick profits, which contributes to their resilience.
            
            Moreover, family businesses often have a profound sense of legacy. They carry forward traditions, values, and a commitment to quality that are deeply rooted in their history. This legacy provides a solid foundation for future growth and innovation.
            
            Despite their advantages, family businesses can also face unique challenges, such as succession planning and managing conflicts. However, when managed effectively, these hurdles can become opportunities for growth and development. </p>
    </div>

    <div class="container_lenox">
        <img src="../../assets/images/lenox_logo2.png" class="halfLogoLeft">
        <p class="textRight"> Family businesses have been a cornerstone of the global economy for centuries, exemplifying the enduring spirit of entrepreneurship, resilience, and commitment to success. These enterprises, often passed down through generations, blend blood ties with business acumen, creating a unique dynamic that shapes both their identity and operations.

            One of the key strengths of family businesses is their ability to weather economic storms. The strong bonds between family members foster a sense of responsibility and shared destiny, motivating them to overcome challenges. They prioritize long-term sustainability over quick profits, which contributes to their resilience.
            
            Moreover, family businesses often have a profound sense of legacy. They carry forward traditions, values, and a commitment to quality that are deeply rooted in their history. This legacy provides a solid foundation for future growth and innovation.
            
            Despite their advantages, family businesses can also face unique challenges, such as succession planning and managing conflicts. However, when managed effectively, these hurdles can become opportunities for growth and development. </p>
    </div>
</div>