<div class="invoice">
    <div class="invoice-header">
        <h1>Invoice</h1>
        <p>Invoice Number: INV-{{ startingInvoiceNumber }}</p>
        <p>Date: {{ date }}</p>
    </div>

    <div class="invoice-body">
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart">
                    <td>{{ item.name }}</td>
                    <td>{{ item.count }}</td>
                    <td>{{ item.price | currency}}</td>
                    <td>{{ item.count * item.price | currency}}</td>
                </tr>
                <tr>
                    <td><strong>Subtotal: {{ subTotal | currency }}</strong></td>
                </tr>
                <tr>
                    <td><strong>Tax: {{ tax | currency }}</strong></td>
                </tr>
                <tr>
                    <td><strong>Total: {{ total | currency }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="submission">
        <mat-form-field class="submission">
            <input [(ngModel)]="deliveryAddress" matInput placeholder="Delivery Address">
        </mat-form-field>
        <button class="submitBtn" mat-raised-button color="primary" type="button" (click)="saveInvoice()">Submit
        </button>
    </div>

    <h1>Fill PDF Form</h1>
    <button class="invoiceBtn" mat-flat-button color="primary" (click)="generateAndFillPdf()">View Invoice</button>
</div>