.invoice {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invoice-header,
.invoice-body,
.submission,
h1 {
    width: 100%;
    max-width: 600px;
}

.invoice-body table {
    width: 100%;
}

.invoice-body table th,
.invoice-body table td {
    text-align: left;
}

.submitBtn {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.invoiceBtn {
    margin-bottom: 0.5%;
}