<div class="container">

    <h1>
        Apex Wholesale Supply Co.
    </h1>

    <p>

        At Apex Wholesale Supplies, we're more than just a wholesale company; we're a family. Our story began 50 years
        ago when we decided to pursue our passion for supplying families with the best home products,
        driven by a passion for home developement and a desire to build something lasting, founded this company.

        With a commitment to quality and service, our great-grandfather laid the foundation for what has become a
        trusted name in the wholesale industry.

        Today, the legacy continues with his grandchildren who have taken the reins and continue to uphold the values
        that have made Apex a success.

        We remain a family-owned and operated business, where every employee is treated like part of the extended
        family.<br><br>
    </p>

    <h3>Our Mission:</h3>
    <p>
        Our mission is to provide our customers with the highest quality products at competitive prices, while offering
        exceptional service that builds long-lasting relationships.

        We believe in the power of building strong partnerships with our clients, understanding their needs, and
        exceeding their expectations.<br><br>
    </p>
    <h3>What We Offer:</h3>
    <p>
        Apex is your one-stop shop for all your home improvement wholesale needs. We offer a wide range of products,
        including:

        Doors, windows, plumbing, faucets, tiles, countertop, and many more.

        We are constantly expanding our inventory to ensure we have the latest and most innovative products
        available.<br><br>
    </p>
    <h3> Choose Us:</h3>
    <p>
        Family Values: We believe in treating our customers with the same care and respect we would our own family.<br>
        Quality Products: We source our products from reputable manufacturers and ensure they meet the highest quality
        standards.<br>
        Competitive Prices: We offer competitive pricing to help our customers succeed.<br>
        Exceptional Service: Our dedicated team is always available to answer your questions and provide support.<br>
        Long-Term Relationships: We are committed to building long-lasting partnerships with our customers.<br>
        Join the Apex Family:<br>

        We invite you to become part of the Apex family. We are confident that we can provide you with the products and
        service you need to achieve your business goals.<br><br>
    </p>
    <h4>Contact Us Today:</h4>
    <p>
        We are always happy to hear from you. Please contact us today to learn more about how we can help your home more
        than just your home.
    </p>
</div>