.registration-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: white;
}

.registration-form {
  align-items: center;
  margin-right: 30%;
  margin-left: 30%;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.register-btn {
  margin-top: 20px;
  width: 15%;
}

.radio-btns {
  text-align: left;
}

.password-requirements {
  display: inline-block; /* Display spans as inline-block */
  color: black; /* Set a light gray color for the requirements text */
  font-size: 12px; /* Adjust font size */
  border: 1px solid red; /* Add border */
  border-radius: 4px; /* Add border radius */
}